In [1]:
# Dependencies and Setup
import csv
import pandas as pd
import os
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import scipy.stats as sts
import hvplot.pandas

# Analysis 


* Zillow Observed Rent Index (ZORI): A smoothed measure of the typical observed market rate rent across a given region. ZORI is a repeat-rent index that is weighted to the rental housing stock to ensure representativeness across the entire market, not just those homes currently listed for-rent. The index is dollar-denominated by computing the mean of listed rents that fall into the 40th to 60th percentile range for all homes and apartments in a given region, which is once again weighted to reflect the rental housing stock.

In [2]:
# Extracting the path
home_rental_path = "../Data/Housing_Price/Rental_AllHomesPlusMultifamily.csv"

In [3]:
# Read Real Estate Data from Zillow (from year 2015 to 2020)
# real_estate_data = pd.read_csv(real_estate_path)
home_rental_data = pd.read_csv(home_rental_path)
home_rental_data

# original dataframe has 914 rows × 75 columns

,RegionID,RegionName,State,SizeRank,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,...,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12
0,102001,United States,NaN,0,1458,1464,1469,1475,1481,1487,...,1743,1744,1745,1745,1746,1746,1747,1747,1747,1747.0
1,394913,"New York, NY",NY,1,2518,2527,2537,2546,2555,2564,...,2770,2756,2734,2713,2691,2669,2646,2624,2600,2576.0
2,753899,"Los Angeles-Long Beach-Anaheim, CA",CA,2,2024,2036,2047,2059,2071,2083,...,2567,2566,2565,2564,2563,2561,2559,2558,2556,2554.0
3,394463,"Chicago, IL",IL,3,1573,1577,1581,1584,1589,1593,...,1769,1766,1762,1758,1754,1750,1746,1742,1737,1732.0
4,394514,"Dallas-Fort Worth, TX",TX,4,1285,1291,1297,1303,1308,1313,...,1564,1566,1568,1571,1573,1575,1577,1580,1582,1585.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,394995,"Port St. Lucie, FL",FL,119,1286,1292,1297,1303,1308,1314,...,1711,1721,1732,1742,1753,1763,1773,1784,1794,1804.0
102,394602,"Fort Collins, CO",CO,159,1342,1350,1359,1367,1374,1381,...,1586,1588,1592,1595,1598,1601,1604,1608,1611,1614.0
103,394405,"Boulder, CO",CO,162,1647,1658,1670,1681,1693,1704,...,1989,1991,1994,1997,2000,2003,2007,2010,2013,2017.0
104,394645,"Greeley, CO",CO,177,1314,1323,1333,1342,1349,1356,...,1639,1643,1647,1651,1656,1660,1664,1668,1673,1677.0
105,394623,"Gainesville, GA",GA,229,1024,1032,1039,1047,1054,1060,...,1387,1391,1398,1405,1412,1419,1426,1432,1440,1447.0

In [4]:
# split city from state, make a new column with just city
home_rental_data["RegionName"] = home_rental_data["RegionName"].str.split(",").str[0]
home_rental_data.head()

,RegionID,RegionName,State,SizeRank,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,...,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12
0,102001,United States,NaN,0,1458,1464,1469,1475,1481,1487,...,1743,1744,1745,1745,1746,1746,1747,1747,1747,1747.0
1,394913,New York,NY,1,2518,2527,2537,2546,2555,2564,...,2770,2756,2734,2713,2691,2669,2646,2624,2600,2576.0
2,753899,Los Angeles-Long Beach-Anaheim,CA,2,2024,2036,2047,2059,2071,2083,...,2567,2566,2565,2564,2563,2561,2559,2558,2556,2554.0
3,394463,Chicago,IL,3,1573,1577,1581,1584,1589,1593,...,1769,1766,1762,1758,1754,1750,1746,1742,1737,1732.0
4,394514,Dallas-Fort Worth,TX,4,1285,1291,1297,1303,1308,1313,...,1564,1566,1568,1571,1573,1575,1577,1580,1582,1585.0

In [5]:
home_rental_data = home_rental_data.dropna(how="any")
home_rental_data.head()

,RegionID,RegionName,State,SizeRank,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,...,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12
1,394913,New York,NY,1,2518,2527,2537,2546,2555,2564,...,2770,2756,2734,2713,2691,2669,2646,2624,2600,2576.0
2,753899,Los Angeles-Long Beach-Anaheim,CA,2,2024,2036,2047,2059,2071,2083,...,2567,2566,2565,2564,2563,2561,2559,2558,2556,2554.0
3,394463,Chicago,IL,3,1573,1577,1581,1584,1589,1593,...,1769,1766,1762,1758,1754,1750,1746,1742,1737,1732.0
4,394514,Dallas-Fort Worth,TX,4,1285,1291,1297,1303,1308,1313,...,1564,1566,1568,1571,1573,1575,1577,1580,1582,1585.0
5,394974,Philadelphia,PA,5,1389,1392,1396,1399,1402,1406,...,1602,1604,1606,1608,1610,1613,1615,1617,1619,1622.0

In [6]:
# Creating a list 
rental_date = []
column_names = ["RegionID", "RegionName", "State", "SizeRank"]
for x in home_rental_data.columns:
    if x not in column_names:
        rental_date.append(x)

In [7]:
rental_summary_df = []
for i, row in home_rental_data .iterrows():
    region_id = row["RegionID"]
    region_name = row["RegionName"]
    state_name = row["State"]
    size_rank = row["SizeRank"]
    for x in rental_date:
        dat = x.split("-")
        a ={
            "Region ID": region_id,
            "Region Name": region_name,
            "State": state_name,
            "Size Rank": size_rank,
            "Date": f"{dat[1].rjust(2,'0')}-{dat[0]}",
            "Year": dat[0],
            "Month": dat[1],
            "Rental Price":row[x]
        }
        rental_summary_df.append(a)

In [8]:
# creating the new dataframe for easy viewing 
new_rental_df = pd.DataFrame(rental_summary_df)
new_rental_df

,Region ID,Region Name,State,Size Rank,Date,Year,Month,Rental Price
0,394913,New York,NY,1,01-2015,2015,01,2518.0
1,394913,New York,NY,1,02-2015,2015,02,2527.0
2,394913,New York,NY,1,03-2015,2015,03,2537.0
3,394913,New York,NY,1,04-2015,2015,04,2546.0
4,394913,New York,NY,1,05-2015,2015,05,2555.0
...,...,...,...,...,...,...,...,...
7411,394623,Gainesville,GA,229,08-2020,2020,08,1419.0
7412,394623,Gainesville,GA,229,09-2020,2020,09,1426.0
7413,394623,Gainesville,GA,229,10-2020,2020,10,1432.0
7414,394623,Gainesville,GA,229,11-2020,2020,11,1440.0
7415,394623,Gainesville,GA,229,12-2020,2020,12,1447.0

In [9]:
# pulling up the top 5 States that most people migrated to -
# "Florida", "Texas", "California", "North Carolina", "Arizona"
fl_rental_df = new_rental_df[new_rental_df['State'] == 'FL']
tx_rental_df = new_rental_df[new_rental_df['State'] == 'TX']
ca_rental_df = new_rental_df[new_rental_df['State'] == 'CA']
nc_rental_df = new_rental_df[new_rental_df['State'] == 'NC']
az_rental_df = new_rental_df[new_rental_df['State'] == 'AZ']

# Top 5 States that people migrate out of -
# "California", "New York", "Virginia", "Florida", "Texas"
ca_rental_df= new_rental_df[new_rental_df['State'] == 'CA']
ny_rental_df = new_rental_df[new_rental_df['State'] == 'NY']
va_rental_df = new_rental_df[new_rental_df['State'] == 'VA']
fl_rental_df = new_rental_df[new_rental_df['State'] == 'FL']
tx_rental_df = new_rental_df[new_rental_df['State'] == 'TX']

In [10]:
# Top 5 States that people migrate into 
# # "Florida", "Texas", "California", "North Carolina", "Arizona"

top5states_into_rent = pd.concat([fl_rental_df, tx_rental_df, ca_rental_df, nc_rental_df, az_rental_df])
top5states_into_rent.head()

,Region ID,Region Name,State,Size Rank,Date,Year,Month,Rental Price
504,394856,Miami-Fort Lauderdale,FL,8,01-2015,2015,01,1654.0
505,394856,Miami-Fort Lauderdale,FL,8,02-2015,2015,02,1662.0
506,394856,Miami-Fort Lauderdale,FL,8,03-2015,2015,03,1670.0
507,394856,Miami-Fort Lauderdale,FL,8,04-2015,2015,04,1678.0
508,394856,Miami-Fort Lauderdale,FL,8,05-2015,2015,05,1685.0

In [11]:
# Top 5 States that people migrate out of
# # "California", "New York", "Virginia", "Florida", "Texas"

top5states_outof_rent = pd.concat([ca_rental_df, ny_rental_df, va_rental_df, fl_rental_df, tx_rental_df])
top5states_outof_rent.head()

,Region ID,Region Name,State,Size Rank,Date,Year,Month,Rental Price
72,753899,Los Angeles-Long Beach-Anaheim,CA,2,01-2015,2015,01,2024.0
73,753899,Los Angeles-Long Beach-Anaheim,CA,2,02-2015,2015,02,2036.0
74,753899,Los Angeles-Long Beach-Anaheim,CA,2,03-2015,2015,03,2047.0
75,753899,Los Angeles-Long Beach-Anaheim,CA,2,04-2015,2015,04,2059.0
76,753899,Los Angeles-Long Beach-Anaheim,CA,2,05-2015,2015,05,2071.0

In [12]:
# grouping the rent price by states (Migrate Into)
rental_into_timeseries_df = top5states_into_rent.groupby(["State", "Year"]).describe()["Rental Price"]
rental_into_timeseries_df

            count         mean         std     min      25%     50%      75%  \
State Year
AZ    2015   24.0  1038.416667   57.935434   973.0   983.50  1029.0  1092.25
      2016   24.0  1086.458333   76.354425   997.0  1013.25  1080.5  1158.50
      2017   24.0  1138.000000   82.858706  1036.0  1059.00  1137.0  1216.00
      2018   24.0  1205.541667   94.578690  1085.0  1117.50  1199.5  1292.00
      2019   24.0  1291.125000  112.223113  1154.0  1186.50  1280.5  1397.25
      2020   24.0  1378.083333  125.514218  1216.0  1259.75  1379.5  1493.50
CA    2015  120.0  1839.600000  579.570739  1063.0  1357.00  1723.5  2245.00
      2016  120.0  1946.608333  612.788602  1081.0  1472.75  1823.0  2351.75
      2017  120.0  2038.183333  615.197884  1116.0  1595.50  1928.0  2465.00
      2018  120.0  2132.375000  628.800139  1154.0  1690.00  2028.0  2572.50
      2019  120.0  2219.808333  633.360575  1210.0  1780.25  2122.0  2653.25
      2020  120.0  2272.508333  577.811301  1274.0  1869.50  2236.5  2732.75
FL    2015  120.0  1286.058333  194.994604  1063.0  1118.75  1261.0  1354.25
      2016  120.0  1357.866667  198.390538  1133.0  1178.00  1325.5  1452.50
      2017  120.0  1417.400000  190.230881  1190.0  1240.75  1389.0  1514.25
      2018  120.0  1486.158333  183.827787  1246.0  1319.00  1463.0  1580.00
      2019  120.0  1545.433333  181.257036  1301.0  1378.75  1532.0  1634.50
      2020  120.0  1608.616667  179.843918  1341.0  1456.25  1596.5  1744.75
NC    2015   60.0  1158.416667  102.873016  1027.0  1042.75  1194.5  1237.50
      2016   60.0  1206.283333  116.816398  1047.0  1073.00  1264.0  1304.00
      2017   60.0  1247.083333  120.556800  1087.0  1108.50  1303.5  1356.00
      2018   60.0  1290.750000  125.986901  1116.0  1147.00  1343.5  1405.00
      2019   60.0  1350.850000  129.881540  1162.0  1205.75  1409.0  1470.25
      2020   60.0  1397.783333  119.034974  1217.0  1269.50  1435.5  1511.25
TX    2015   60.0  1247.433333  135.098629  1034.0  1135.00  1316.0  1365.50
      2016   60.0  1284.950000  145.856375  1040.0  1183.00  1385.0  1398.00
      2017   60.0  1310.066667  153.980393  1047.0  1220.50  1403.0  1428.00
      2018   60.0  1344.266667  165.925639  1051.0  1250.25  1444.0  1471.75
      2019   60.0  1386.900000  173.672368  1071.0  1294.00  1470.0  1531.25
      2020   60.0  1413.483333  159.892601  1114.0  1326.50  1478.0  1547.25

               max
State Year
AZ    2015  1123.0
      2016  1189.0
      2017  1245.0
      2018  1341.0
      2019  1443.0
      2020  1549.0
CA    2015  2875.0
      2016  2967.0
      2017  3055.0
      2018  3162.0
      2019  3232.0
      2020  3226.0
FL    2015  1736.0
      2016  1783.0
      2017  1817.0
      2018  1868.0
      2019  1912.0
      2020  1940.0
NC    2015  1310.0
      2016  1359.0
      2017  1395.0
      2018  1447.0
      2019  1503.0
      2020  1538.0
TX    2015  1395.0
      2016  1420.0
      2017  1464.0
      2018  1513.0
      2019  1560.0
      2020  1585.0

In [13]:
# grouping the housing price by state (Migrate out of)
rental_outof_timeseries_df = top5states_outof_rent.groupby(["State", "Year"]).describe()["Rental Price"]
rental_outof_timeseries_df

            count         mean         std     min      25%     50%      75%  \
State Year
CA    2015  120.0  1839.600000  579.570739  1063.0  1357.00  1723.5  2245.00
      2016  120.0  1946.608333  612.788602  1081.0  1472.75  1823.0  2351.75
      2017  120.0  2038.183333  615.197884  1116.0  1595.50  1928.0  2465.00
      2018  120.0  2132.375000  628.800139  1154.0  1690.00  2028.0  2572.50
      2019  120.0  2219.808333  633.360575  1210.0  1780.25  2122.0  2653.25
      2020  120.0  2272.508333  577.811301  1274.0  1869.50  2236.5  2732.75
FL    2015  120.0  1286.058333  194.994604  1063.0  1118.75  1261.0  1354.25
      2016  120.0  1357.866667  198.390538  1133.0  1178.00  1325.5  1452.50
      2017  120.0  1417.400000  190.230881  1190.0  1240.75  1389.0  1514.25
      2018  120.0  1486.158333  183.827787  1246.0  1319.00  1463.0  1580.00
      2019  120.0  1545.433333  181.257036  1301.0  1378.75  1532.0  1634.50
      2020  120.0  1608.616667  179.843918  1341.0  1456.25  1596.5  1744.75
NY    2015   60.0  1306.533333  638.606785   904.0   941.00   993.5  1112.50
      2016   60.0  1347.816667  653.564088   933.0   983.25  1022.5  1149.75
      2017   60.0  1381.133333  658.588796   965.0  1020.25  1053.5  1166.25
      2018   60.0  1413.483333  663.225797   991.0  1052.25  1091.5  1207.75
      2019   60.0  1450.366667  675.853283  1003.0  1089.25  1118.0  1230.75
      2020   60.0  1471.083333  621.528114  1057.0  1133.00  1168.0  1267.00
TX    2015   60.0  1247.433333  135.098629  1034.0  1135.00  1316.0  1365.50
      2016   60.0  1284.950000  145.856375  1040.0  1183.00  1385.0  1398.00
      2017   60.0  1310.066667  153.980393  1047.0  1220.50  1403.0  1428.00
      2018   60.0  1344.266667  165.925639  1051.0  1250.25  1444.0  1471.75
      2019   60.0  1386.900000  173.672368  1071.0  1294.00  1470.0  1531.25
      2020   60.0  1413.483333  159.892601  1114.0  1326.50  1478.0  1547.25
VA    2015   24.0  1175.750000   54.613464  1109.0  1123.25  1178.5  1227.50
      2016   24.0  1201.500000   46.852219  1141.0  1157.50  1205.0  1246.25
      2017   24.0  1228.416667   39.379885  1173.0  1191.00  1233.5  1265.50
      2018   24.0  1264.208333   30.075238  1216.0  1238.00  1268.0  1289.75
      2019   24.0  1304.708333   26.099274  1261.0  1283.00  1306.0  1327.00
      2020   24.0  1352.208333   31.257666  1305.0  1328.00  1349.0  1374.50

               max
State Year
CA    2015  2875.0
      2016  2967.0
      2017  3055.0
      2018  3162.0
      2019  3232.0
      2020  3226.0
FL    2015  1736.0
      2016  1783.0
      2017  1817.0
      2018  1868.0
      2019  1912.0
      2020  1940.0
NY    2015  2607.0
      2016  2660.0
      2017  2697.0
      2018  2750.0
      2019  2804.0
      2020  2799.0
TX    2015  1395.0
      2016  1420.0
      2017  1464.0
      2018  1513.0
      2019  1560.0
      2020  1585.0
VA    2015  1239.0
      2016  1254.0
      2017  1276.0
      2018  1307.0
      2019  1344.0
      2020  1412.0

In [31]:
avg_rent_out = top5states_outof_rent.groupby(["State", "Year"]).mean()["Rental Price"]
avg_rent_out

State  Year
CA     2015    1839.600000
       2016    1946.608333
       2017    2038.183333
       2018    2132.375000
       2019    2219.808333
       2020    2272.508333
FL     2015    1286.058333
       2016    1357.866667
       2017    1417.400000
       2018    1486.158333
       2019    1545.433333
       2020    1608.616667
NY     2015    1306.533333
       2016    1347.816667
       2017    1381.133333
       2018    1413.483333
       2019    1450.366667
       2020    1471.083333
TX     2015    1247.433333
       2016    1284.950000
       2017    1310.066667
       2018    1344.266667
       2019    1386.900000
       2020    1413.483333
VA     2015    1175.750000
       2016    1201.500000
       2017    1228.416667
       2018    1264.208333
       2019    1304.708333
       2020    1352.208333
Name: Rental Price, dtype: float64

# Load to SQL Database

In [14]:
# Dependencies
from login import port, pw
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
# from config import user, pw, port
from login import user, pw, port

In [15]:
# Create engine
engine = create_engine(f'postgresql://{user}:{pw}@localhost:{port}/interstate_migration_db')
# engine = create_engine("postgresql://postgres:postgres@localhost:5432/interstate_migration_db")

# Connect to pgAdmin 4
conn = engine.connect()

In [16]:
base = automap_base()
base.prepare(engine, reflect=True)
base.classes.keys()

[]

In [17]:
pip install psycopg2

Requirement already satisfied: psycopg2 in /Users/AliciaLy/anaconda3/lib/python3.8/site-packages (2.8.6)
WARNING: You are using pip version 20.3.3; however, version 21.0.1 is available.
You should consider upgrading via the '/Users/AliciaLy/anaconda3/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [18]:
# Get rid of the % sign from the columns title 
rental_into_timeseries_df.columns = ['count', 'mean', 'std', 'min', '25', '50', '75', 'max']
rental_outof_timeseries_df.columns = ['count', 'mean', 'std', 'min', '25', '50', '75', 'max']

In [23]:
# Only extracting the mean
mean_migrateinto_df = rental_into_timeseries_df[["mean"]]
mean_migrateinto_df = mean_migrateinto_df.round(decimals=0)
mean_migrateinto_df.head()

              mean
State Year
AZ    2015  1038.0
      2016  1086.0
      2017  1138.0
      2018  1206.0
      2019  1291.0

In [25]:
mean_migrateinto_df = mean_migrateinto_df["mean"].sort_values(ascending=False)
mean_migrateinto_df

State  Year
CA     2020    2273.0
       2019    2220.0
       2018    2132.0
       2017    2038.0
       2016    1947.0
       2015    1840.0
FL     2020    1609.0
       2019    1545.0
       2018    1486.0
       2017    1417.0
TX     2020    1413.0
NC     2020    1398.0
TX     2019    1387.0
AZ     2020    1378.0
FL     2016    1358.0
NC     2019    1351.0
TX     2018    1344.0
       2017    1310.0
NC     2018    1291.0
AZ     2019    1291.0
FL     2015    1286.0
TX     2016    1285.0
       2015    1247.0
NC     2017    1247.0
AZ     2018    1206.0
NC     2016    1206.0
       2015    1158.0
AZ     2017    1138.0
       2016    1086.0
       2015    1038.0
Name: mean, dtype: float64

In [24]:
mean_migrateoufof_df = rental_outof_timeseries_df[["mean"]]
mean_migrateoufof_df = mean_migrateoufof_df.round(decimals=0)
mean_migrateoufof_df.head()

              mean
State Year
CA    2015  1840.0
      2016  1947.0
      2017  2038.0
      2018  2132.0
      2019  2220.0

In [26]:
mean_migrateoufof_df = mean_migrateoufof_df["mean"].sort_values(ascending=False)
mean_migrateoufof_df

State  Year
CA     2020    2273.0
       2019    2220.0
       2018    2132.0
       2017    2038.0
       2016    1947.0
       2015    1840.0
FL     2020    1609.0
       2019    1545.0
       2018    1486.0
NY     2020    1471.0
       2019    1450.0
FL     2017    1417.0
TX     2020    1413.0
NY     2018    1413.0
TX     2019    1387.0
NY     2017    1381.0
FL     2016    1358.0
VA     2020    1352.0
NY     2016    1348.0
TX     2018    1344.0
       2017    1310.0
NY     2015    1307.0
VA     2019    1305.0
FL     2015    1286.0
TX     2016    1285.0
VA     2018    1264.0
TX     2015    1247.0
VA     2017    1228.0
       2016    1202.0
       2015    1176.0
Name: mean, dtype: float64

In [32]:
# Top 5 States that people migrate into, from 2015-2020 Time-Series Visualization 
top5migrate_into_rent = mean_migrateinto_df.hvplot.bar(ylim=(0,2500), width=1000, grid=True, hover_color="black", title="Time Series - Average Rent Price for top 5 States People Migrated Into (2015-2020)", xlabel="State, Year", ylabel="Average Rent Price in ($)").opts(
    yformatter='%0f'
)

top5migrate_into_rent

:Bars   [State,Year]   (mean)

In [34]:
# Top 5 States that people migrate out of, from 2015-2020 Time Series Visualization 
top5migrate_outof_rent = mean_migrateoufof_df.hvplot.bar(ylim=(0,2500), 
                                width=1000, 
                                grid=True, 
                                hover_color="black", 
                                title="Time Series - Average Rent Price for top 5 States People Migrated Out Of (2015-2020)", xlabel="State, Year", ylabel="Average Rent Price in ($)").opts(
    yformatter='%0f'
)
top5migrate_outof_rent

:Bars   [State,Year]   (mean)

In [35]:
# Load rental_series into Postgres database
mean_migrateinto_df.to_sql(name="top_migration_into_rent", con=engine, if_exists="replace", index=True)
mean_migrateoufof_df.to_sql(name="top_migration_outof_rent", con=engine, if_exists="replace", index=True)

In [36]:
hvplot.save(top5migrate_into_rent, 'migrate_into_rent.html')

In [37]:
hvplot.save(top5migrate_outof_rent, 'migrate_outof_rent.html')

In [41]:
# Calculate the avg rental price for the top 5 states of migration in and sort the value
avg_rent_into = mean_migrateinto_df.groupby("State").mean()
avg_rent_into = avg_rent_into.round(decimals=0)
avg_rent_into = avg_rent_into.sort_values(ascending=False)
avg_rent_into

State
CA    2075.0
FL    1450.0
TX    1331.0
NC    1275.0
AZ    1190.0
Name: mean, dtype: float64

In [43]:
# Calculate the avg rental price for the top 5 states of migration out and sort the value
avg_rent_out = mean_migrateoufof_df.groupby("State").mean()
avg_rent_out = avg_rent_out.round(decimals=0)
avg_rent_out = avg_rent_out.sort_values(ascending=False)
avg_rent_out

State
CA    2075.0
FL    1450.0
NY    1395.0
TX    1331.0
VA    1254.0
Name: mean, dtype: float64

In [53]:
# Average Rent Price for Top 5 States that people migrate into 
avg_rent_in = avg_rent_into.hvplot.bar(grouby="State", ylim=(0,2500), 
                                width=800, 
                                grid=True, 
                                hover_color="black", 
                                title="Average Rent Price for top 5 States People Migrated Into (2015-2020)", xlabel="State", ylabel="Average Rent Price in ($)").opts(
    yformatter='%0f'
)
avg_rent_in

WARNING:param.main: grouby option not found for bar plot; similar options include: []

:Bars   [State]   (mean)

In [52]:
# Average Rent Price for Top 5 States that people migrate Out
avg_rent_out = avg_rent_out.hvplot.bar(grouby="State", ylim=(0,2500), 
                                width=800, 
                                grid=True, 
                                hover_color="black", 
                                title="Average Rent Price for top 5 States People Migrated Out (2015-2020)", xlabel="State", ylabel="Average Rent Price in ($)").opts(
    yformatter='%0f'
)
avg_rent_out

WARNING:param.main: grouby option not found for bar plot; similar options include: []

:Bars   [State]   (mean)

In [54]:
hvplot.save(avg_rent_in, 'avg_rent_in.html')

In [55]:
hvplot.save(avg_rent_out, 'avg_rent_out.html')